.searchbar-input.sc-ion-searchbar-md {
    border-radius: 10px;
}

.search-grid {
    border-radius: 10px;
    margin       : 8px !important;
}

.search-suggestions {
    font-family: 'Lato';
    font-display: swap;
    cursor     : pointer;
    color      : var(--ion-color-secondary);

    &:hover {
        color: var(--ion-color-primary);
    }

    &:not(:empty):not(:last-child):after {
        content: " | ";
    }
}

.search-input {
    max-width: 750px;
    margin   : auto;
}

.icon{
    position: relative;
    left: 40%;
}

/* Set the text color */
ion-select{
    background: rgb(255, 255, 255);
    min-width: 95%;
    max-height: 60%;
}
.highlighted {
 background-color:black;
 color: white; 
}
