<ion-grid class="ion-padding">
  <form [formGroup]="newCardForm" (ngSubmit)="onSubmit()">
    <ion-row class="ion-justify-content-center">

      <ion-col size="12">
        <ion-label class="fs-14" color="dark">Card Number</ion-label>
        <ion-item class="form-control" lines="none">
          <ion-input type="text" inputmode="numeric" minlength="16" maxlength="16" autofocus="true" type="text"
            formControlName="cardNo" required (keypress)="numberOnlyValidation($event)"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="isSubmitted && (f.cardNo.dirty || f.cardNo.touched || f.cardNo.invalid)"
          class="help-block">
          <small class="error-msg" *ngIf="f.cardNo.invalid">{{getErrorMsg()}}</small>
        </ion-text>
      </ion-col>

      <ion-col size="4">
        <ion-label class="fs-14" color="dark">Month</ion-label>
        <ion-item class="form-control" lines="none">
          <ion-select class="w-100" formControlName="expiryMonth" placeholder="mm" interface="alert">
            <ion-select-option value="01">January</ion-select-option>
            <ion-select-option value="02">February</ion-select-option>
            <ion-select-option value="03">March</ion-select-option>
            <ion-select-option value="04">April</ion-select-option>
            <ion-select-option value="05">May</ion-select-option>
            <ion-select-option value="06">June</ion-select-option>
            <ion-select-option value="07">July</ion-select-option>
            <ion-select-option value="08">August</ion-select-option>
            <ion-select-option value="09">September</ion-select-option>
            <ion-select-option value="10">October</ion-select-option>
            <ion-select-option value="11">November</ion-select-option>
            <ion-select-option value="12">December</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-text color="danger"
          *ngIf="isSubmitted && (f.expiryMonth.dirty || f.expiryMonth.touched || f.expiryMonth.invalid)"
          class="help-block">
          <small class="error-msg" *ngIf="f.expiryMonth.invalid">Required</small>
        </ion-text>
      </ion-col>

      <ion-col size="4">
        <ion-label class="fs-14" color="dark">Year</ion-label>
        <ion-item class="form-control" lines="none">
          <ion-select class="w-100" formControlName="expiryYear" placeholder="YYYY" interface="alert">
            <ion-select-option [value]="year" *ngFor="let year of selectYears">{{year}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-text color="danger"
          *ngIf="isSubmitted && (f.expiryYear.dirty || f.expiryYear.touched || f.expiryYear.invalid)"
          class="help-block">
          <small class="error-msg" *ngIf="f.expiryYear.invalid">Required</small>
        </ion-text>
      </ion-col>

      <ion-col size="4">
        <ion-label class="fs-14" color="dark">CVV</ion-label>
        <ion-item class="form-control" lines="none">
          <ion-input minlength="3" maxlength="3" autofocus="true" inputmode="email" type="text" inputmode="numeric"
            formControlName="secretPin" (keypress)="numberOnlyValidation($event)" required>
          </ion-input>
        </ion-item>
        <ion-text color="danger"
          *ngIf="isSubmitted && (f.secretPin.dirty || f.secretPin.touched || f.secretPin.invalid)" class="help-block">
          <small class="error-msg" *ngIf="f.secretPin.invalid">{{getErrorMsg()}}</small>
        </ion-text>
      </ion-col>

      <ion-col size="6">
        <ion-button type="button" expand="block" fill="outline" color="primary" (click)="onCancel()">Cancel</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button type="submit" expand="block" fill="solid" color="primary">Save</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-grid>