<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
  <ion-row>
    <!-- Email -->
    <ion-col class="ion-padding-vertical" size="12">
      <label class="form-label">{{i18n_LoginPageLabels.email}}</label>
      <ion-item class="form-control" lines="none">
        <ion-icon class="me-2" name="person-outline" slot="start"></ion-icon>        
        <input (keydown)="keypressOnEmailInput($event)" id="id_email_input" tabindex="0" class="arrow-navigable" autofocus="true" clearInput="true" type="text" maxlength="55"
          formControlName="emailOrPhoneNumber" required="true"/>
      </ion-item>
      <ion-text color="danger" *ngIf="isSubmitted || (f.emailOrPhoneNumber.dirty)" class="help-block">
        <small class="error-msg" *ngIf="f.password.invalid">{{getErrorMessage('emailOrPhoneNumber')}}</small>
      </ion-text>
    </ion-col>
    
    <!-- Password -->
    <ion-col class="ion-padding-bottom login-password" size="12">
      <label class="form-label">{{i18n_LoginPageLabels.password}}</label>
      <ion-item class="form-control" lines="none">
        <ion-icon class="me-2" name="lock-open-outline" slot="start"></ion-icon>
        <!--<ion-input class="arrow-navigable" tabindex="0" [type]="hide ? 'password' : 'text'" formControlName="password" maxlength="25" required>
        </ion-input>-->
        <input id="input_pwd" class="arrow-navigable" tabindex="0" 
        [type]="hide ? 'password' : 'text'" 
        (keydown)="keypressOnPwd($event)"
        formControlName="password" maxlength="25" />
        <ion-icon [name]="hide ? 'eye-outline' : 'eye-off-outline'" slot="end" 
        (keydown)="keypressOnPwdEye($event)"
        #input_pwd_eye
        id="input_pwd_eye" tabindex="0"
        (click)="hide = !hide">
        </ion-icon>
      </ion-item>
      <ion-text color="danger" *ngIf="isSubmitted || (f.password.dirty)" class="help-block">
        <small class="error-msg" *ngIf="f.password.invalid">{{i18n_LoginPageLabels.err_login_pwd_is_required}}</small>
      </ion-text>
    </ion-col>

    <!-- Forgot Password -->
    <ion-col size="12">
      <ion-item lines="none">
        <ion-checkbox (keydown)="keypressOnCheckBox($event)" id="Check_box" tabindex="0" class="arrow-navigable" formControlName="rememberMe" (ionChange)="checkboxValueChanged()"></ion-checkbox>
        <ion-label class="remember ms-2">{{i18n_LoginPageLabels.remember_me}}</ion-label>       
        <a (keydown)="keypressOnForgot_Pwd($event)" class="arrow-navigable forgot-pwd-link" tabindex="0" routerLink="/auth/reset" slot="end">{{i18n_LoginPageLabels.forgot_password}}</a>
      </ion-item>
    </ion-col>

    <!-- Submit Button -->
    <ion-col class="ion-padding-top" size="12">
      <ion-button (keydown)="keypressOnLoginbtn($event)" id="btnSubmit" class="arrow-navigable" tabindex="0" color="primary mx-auto" 
      type="submit" expand="block" [disabled]="isSubmitted">{{i18n_LoginPageLabels.login}}
        <ion-spinner name="bubbles" *ngIf="isSubmitted"></ion-spinner>
      </ion-button>

      <!--fix for form sumbit after enter key on the input / helpful for TV remote, press OK key after password input -->
      <input tabindex="-1" type="submit" class="submit-enter" />
      
    </ion-col>

    <!-- Signup -->
    <ion-col class="signup-link ion-no-padding ion-no-margin" size="12">
      <p class="fs-12">
        {{i18n_LoginPageLabels.not_registered_yet}}
        <ion-text (keydown)="keypressOnLoginbtn($event)" tabindex="0" color="secondary" routerLink="/auth/signup" class="pointer arrow-navigable">
          {{i18n_LoginPageLabels.create_an_account}}
        </ion-text>
      </p>
    </ion-col>
  </ion-row>
</form>
