<ion-header class="home-header ion-no-border">
  <app-topbar></app-topbar>
</ion-header>
<ion-content class="ion-no-padding" id="main">  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-row (keydown)="keypressOnBannerTop($event)" tabindex="0" class="arrow-navigable" id="banner-section">
    <ion-col class="ion-no-padding">
      <ion-skeleton-text  animated class="banner-skeleton center" *ngIf="!bannerContents.length"></ion-skeleton-text>    
      <app-banner [btnPausevideo]="on_moview_detail_page" [bannerData]="bannerContents" *ngIf="bannerContents.length"></app-banner>
    </ion-col>
  </ion-row>

  <!---------------------------------- # Genres Setion --------------------------------------->
  
  <div class="home-content" (keydown)="keypressOnGenrePop($event)">
    <ion-row class="home-section ion-margin-top p-1" >
      <div class="genre-containers">
        <li *ngFor="let genre of genres; let i = index" class="genre-cards">             
            <ion-button id="genrePop-{{i}}" (click)="openIonModal(genre)" 
            fill="clear" class="genre-cards arrow-navigable"
            tabindex="0">{{ genre.genreDesc }}</ion-button>          
        </li>
      </div>
    </ion-row>
  </div>
  
  <!---------------------------------- # Continue Watch Sections --------------------------------------->

  <div class="home-content" *ngIf="continueWatchDataSource_loading">
    <ion-row class="home-section ion-margin-top p-1">
      <ion-col size=12>
        <ion-skeleton-text animated class="poster-skeleton center"></ion-skeleton-text>
      </ion-col>
    </ion-row>
  </div>
  <div class="home-content" *ngIf="continueWatchDataSource?.length > 0">
    <ion-row class="home-section ion-margin-top p-1">      
      <!-- title -->
      <ion-col size=12>
        <ion-text class="home-section-title" color="dark">
          <div class="d-flex">
            <h4 tabindex="0" id="home_section_title" class="m-1">{{HomePageLabels.home_continue_watching}}</h4>
          </div>
        </ion-text>
      </ion-col>

      <!-- carousal -->
      <ion-col size=12 (keydown)="keypressOnHomeSection($event, 'continue_watch')">
        <app-carousel  [sectionName]="'continue_watch'" [domainUrl]="domainUrl" [carouselData]="continueWatchDataSource" [continuewatching]=true>
        </app-carousel>
      </ion-col>
    </ion-row>
  </div>

  <!---------------------------------- # Favourites Watch Sections --------------------------------------->
  <div class="home-content" *ngIf="favouritesDataSource?.length > 0">
    <ion-row class="home-section ion-margin-top p-1">

      <!-- title -->
      <ion-col size=12>
        <ion-text  class="home-section-title" color="dark">
          <div class="d-flex">
            <h4 tabindex="0" id="home_section_title" class="m-1">{{HomePageLabels.home_favourite_movies}}</h4>
          </div>
        </ion-text>
      </ion-col>

      <!-- carousal -->
      <ion-col size=12 (keydown)="keypressOnHomeSection($event, 'favorite')">
        <app-carousel [sectionName]="'favorite'" [domainUrl]="domainUrl" [carouselData]="favouritesDataSource"></app-carousel>
      </ion-col>
    </ion-row>
  </div>

  <!---------------------------------- # Rented Watch Sections --------------------------------------->

  <div class="home-content" *ngIf="rentedDataSource?.length > 0">
    <ion-row class="home-section ion-margin-top p-1">

      <!-- title -->
      <ion-col size=12>
        <ion-text  class="home-section-title" color="dark">
          <div class="d-flex">
            <h4 tabindex="0" id="home_section_title" class="m-1">{{HomePageLabels.home_rented_movies}}</h4>
          </div>
        </ion-text>
      </ion-col>

      <!-- carousal -->
      <ion-col size=12 (keydown)="keypressOnHomeSection($event, 'rented')">
        <app-carousel [sectionName]="'rented'" [domainUrl]="domainUrl" [carouselData]="rentedDataSource"></app-carousel>
      </ion-col>
    </ion-row>
  </div>

  <!---------------------------------- # # # # # # # # # # # # # # # # # # -------------------------------->
  <div class="home-content" *ngIf="!homeData.length">
    <ion-row class="home-section ion-margin-top p-1">
      <ion-col size=12>
        <ion-skeleton-text animated class="poster-skeleton center"></ion-skeleton-text>
      </ion-col>
    </ion-row>
  </div>

  <div class="home-content" *ngIf="homeData">

    <!---------------------------------- # Sections --------------------------------------->
    <section *ngFor="let home of homeData;let i = index">

      <ion-row class="home-section ion-margin-top p-1" *ngIf="home?.data?.length> 0" >

        <!-- title -->
        <ion-col size=12 >
          <ion-label  class="home-section-title" color="dark">
            <div class="d-flex">
              <h4 tabindex="0" id="home_data_title"  class="m-1">{{home.title_i18n}}</h4>
            </div>
          </ion-label>
        </ion-col>        
        
       <ng-container *ngIf="home.title === 'Latest Movies'">
          <div class="mini-containers">
            <li *ngFor="let genre of genres;let i = index" class="genre-cards-mini">             
              <ion-button id="genreFilter-{{i}}" (keydown)="keypressOnGenreFilter($event)" (keydown)="keypressOnFilteredData($event, filteredData)"  (click)="filterByGenre(genre)" 
              fill="clear" class="genre-cards-mini arrow-navigable genre-clselem-{{genre.genreDesc}}"
              tabindex="0">{{ genre.genreDesc }}</ion-button>          
            </li>
          </div>          
          <ion-col size="12" *ngIf="filteredData && filteredData.length > 0" >            
            <app-carousel  [sectionName]="home.title" [domainUrl]="domainUrl" [carouselData]="filteredData"></app-carousel>            
          </ion-col>        
        </ng-container>        
  
        <ng-container *ngIf="home.title !== 'Latest Movies' || (!filteredData || filteredData.length === 0)">
          <ion-col size="12">
            <div>
              <app-carousel (keydown)="keypressOnHomeSection($event, home.title)" 
              [sectionName]="home.title" [domainUrl]="domainUrl" [carouselData]="home.data"></app-carousel>
            </div>
          </ion-col>
        </ng-container>

      </ion-row>
    </section>
  </div>


  <!---------------------------------- # Favourites Watch Sections --------------------------------------->
  <div class="home-content" *ngIf="wishlistDataSource?.length > 0">
    <ion-row class="home-section ion-margin-top p-1">

      <!-- title -->
      <ion-col size=12>
        <ion-text class="home-section-title" color="dark">
          <div class="d-flex">
            <h4 class="m-1">{{HomePageLabels.home_wishlist}}</h4>
          </div>
        </ion-text>
      </ion-col>

      <!-- carousal -->
      <ion-col size=12 (keydown)="keypressOnHomeSection($event, 'wishlist')">
        <app-carousel [sectionName]="'wishlist'" [domainUrl]="domainUrl" [carouselData]="wishlistDataSource"></app-carousel>
      </ion-col>
    </ion-row>
  </div>

  
  <!---------------------------------- # Cast Sections --------------------------------------->
  <div class="home-content" *ngIf="featuredCast_loading">
    <ion-row class="home-section ion-margin-top p-1">
      <ion-col size=12>
        <ion-skeleton-text animated class="poster-skeleton center"></ion-skeleton-text>
      </ion-col>
    </ion-row>
  </div>

  <div class="home-content" *ngIf="!featuredCast_loading">
    <ion-row class="home-section ion-margin-top p-1">

      <!-- title -->
      <ion-col size=12>
        <ion-text class="home-section-title" color="dark">
          <div class="d-flex">
            <h4 class="m-1">{{HomePageLabels.home_featured_cast}}</h4>
          </div>
        </ion-text>
      </ion-col>

      <!-- carousal -->
      <ion-col size=12>
        <app-cast-slider [sectionName]="'featured_cast'" 
        (keydown)="keypressOnHomeSection($event, 'featured_cast')" 
        [domainUrl]="domainUrl" [castData]="featuredCast"></app-cast-slider>
      </ion-col>
    </ion-row>
  </div>

  <app-footer></app-footer>

</ion-content>

