<ion-header class="ion-no-border">
  <ion-toolbar>    

    <ion-button slot="start" id="btnBackProfile" [routerLink]="['/home']" autofocus fill="clear" slot="start" autofocus tabindex="0" class="arrow-navigable">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>

    <ion-title>{{i18n_PageLabels.profile_profile}}</ion-title>
    <ion-buttons class="home-menu-btn" slot="end">
      <ion-menu-button id="btnMenu" (keydown)="keypressOnProfileMenu($event)" class="arrow-navigable" tabindex="0"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Basic -->
  <ion-accordion-group *ngIf="personalData">
    <ion-accordion value="personal">
      <ion-item slot="header" id="tabPersonalDet" class="arrow-navigable" tabindex="0" (keydown)="keypressOnPersonalTab($event)">
        <ion-label>{{i18n_PageLabels.profile_personal_details}}</ion-label>
      </ion-item>
      <ion-list slot="content">
        <app-profile-info slot="content" [personalData]="personalData" [userId]="userId"></app-profile-info>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="address">
      <ion-item slot="header"  id="tabAddress"  class="arrow-navigable" tabindex="0"  (keydown)="keypressOnAddressTab($event)">
        <ion-label>{{i18n_PageLabels.profile_address}}</ion-label>
      </ion-item>

      <ion-list slot="content">
        <app-profile-address slot="content" [addressData]="personalData" [userId]="userId"></app-profile-address>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="cards">
      <ion-item slot="header" id="tabCards"  class="arrow-navigable" tabindex="0" (keydown)="keypressOnCardsTab($event)">
        <ion-label>{{i18n_PageLabels.profile_cards}}</ion-label>
      </ion-item>

      <ion-list slot="content">
        <app-saved-cards slot="content" [cardData]="cardData" (onRefresh)="getProfileData()"></app-saved-cards>
      </ion-list>
    </ion-accordion>

  </ion-accordion-group>

  <!-- Skeleton Loader-->
  <ion-grid class="ion-no-padding" *ngIf="!personalData" class="arrow-navigable" tabindex="0">
    <ion-row>
      <ion-col class="position-relative ion-padding" size="12">
        <ion-skeleton-text animated class="banner-skeleton"></ion-skeleton-text>
      </ion-col>
      <ion-col class="position-relative ion-padding" size="12">
        <ion-skeleton-text animated class="banner-skeleton"></ion-skeleton-text>
      </ion-col>
      <ion-col class="position-relative ion-padding" size="12">
        <ion-skeleton-text animated class="banner-skeleton"></ion-skeleton-text>
      </ion-col>
      <ion-col class="position-relative ion-padding" size="12">
        <ion-skeleton-text animated class="banner-skeleton"></ion-skeleton-text>
      </ion-col>
      <ion-col class="position-relative ion-padding" size="12">
        <ion-skeleton-text animated class="banner-skeleton"></ion-skeleton-text>
      </ion-col>
      <ion-col class="position-relative ion-padding" size="12">
        <ion-skeleton-text animated class="banner-skeleton"></ion-skeleton-text>
      </ion-col>
      <ion-col class="position-relative ion-padding" size="12">
        <ion-skeleton-text animated class="banner-skeleton"></ion-skeleton-text>
      </ion-col>
      <ion-col class="position-relative ion-padding" size="12">
        <ion-skeleton-text animated class="banner-skeleton"></ion-skeleton-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>