<ion-content class="auth-page">
  <ion-grid class="h-100 auth-page_main ion-no-padding">
    <ion-row class="h-100 ion-align-items-center">
      <ion-col class="auth-page_left h-100 ion-hide-md-down ion-no-padding ion-no-margin" size-md="4" size-lg="4"
        size-xl="5">
        <app-intro></app-intro>
      </ion-col>
      <ion-col class="auth-page_right ion-padding mx-auto" size="12" size-sm="12" size-md="8" size-lg="8" size-xl="7">
      
        <ion-row class="h-100">
          <ion-col size="12">
            <ion-img class="auth-logo-img" src="assets/images/logo.png"></ion-img>
          </ion-col>
          <ion-col size="12">
            <router-outlet></router-outlet>
          </ion-col>

          <ion-col class="ion-no-padding ion-no-margin" size="12">
            <p class="social-btn-divider">or</p>
          </ion-col>

          <!-- Social Login -->
          <ion-col class="ion-padding-vertical" size="12">
            <app-google-auth></app-google-auth>
            <app-fb-auth></app-fb-auth>
          </ion-col>

          <ion-col class="ion-padding-vertical" size="12">
            <ion-text>
             
            </ion-text>
          </ion-col>
        </ion-row>
        <p class="terms">
          By signing in, you agree to our <a [routerLink]="['/terms']">Terms of Service</a> and <a
            [routerLink]="['/policy']">Privacy Policy</a>.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>