<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Please chooose your location to proceed</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar (ionInput)="onSearchCountry($event)"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-radio-group [value]="location">
        <ion-item lines="none" *ngFor="let country of countries | filter : searchText">
          <ion-label>{{country.country_name}}</ion-label>
          <ion-radio slot="start" [value]="country.countryCode"
            (ionFocus)="onLocation(country.countryCode, country.currency)">
          </ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-button class="ion-padding-end" slot="end" fill="outline" color="dark" (click)="onSubmit()">
        Cancel
      </ion-button>
      <ion-button class="ion-padding-end" slot="end" fill="solid" color="dark" (click)="onSubmit()">
        Submit
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-app>