<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Please choose your location to proceed</ion-title>
    </ion-toolbar>
    <ion-toolbar *ngIf="selectedCountryName">
      <ion-title><h4>Current location: {{ selectedCountryName }}</h4></ion-title>
    </ion-toolbar>

    <ion-toolbar (keydown)="keypressOnInputBox($event)">
      <ion-searchbar #countrySearchInput (ionInput)="onSearchCountry($event)"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  

  <ion-content>
    <ion-list>
      <ion-radio-group (keydown)="keypressOnRadioGroup($event)"  [(ngModel)]="location">
        <ion-item lines="none" *ngFor="let country of countries | filter : searchText; let i=index">
          <ion-label>{{country.country_name}}</ion-label>
          <ion-radio id="opt_country_{{i}}" class="arrow-navigable" tabindex="0" slot="start" [value]="country.countryCode"
            (ionFocus)="onLocation(country.countryCode, country.currency);onUserInput($event)">
          </ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-button tabindex="0" class="ion-padding-end arrow-navigable" 
      slot="end" fill="outline" color="dark" (click)="dismiss()"  *ngIf="cntry !== 'null' && location !== 'null' && searchText === ''">
      Cancel
      </ion-button>
      <ion-button id="btnOk" tabindex="0" class="ion-padding-end arrow-navigable" slot="end" 
        fill="solid" color="dark" (click)="onSubmit()" [disabled]="isDisabled">
        Submit
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-app>