#privacy-body {
    margin-left  : 5px;
    margin-right : 5px;
    padding-right: 5%;
    padding-left : 5%;
    font-size    : 16px;
}
.arrow-navigable:focus{
  outline: 3px #e90505 dotted;
}
.highlightonfocus:focus{outline:#ccc !important;}

.head{
  background-color:var( --ion-background-color);
}
.arrow-navigable {
  cursor: pointer;
}
.cnt{
  font-size: 20px;
}