.reset-page {
    .reset-page_main {
        margin : 0;
        padding: 0;
        .reset-page_right {
            max-width: 375px !important;

            .reset-logo-img {
                width : 150px;
                margin: 0 auto;
            }

            .reset-form {
                .form-label {
                    color      : #434343;
                    font-family: 'Lato';
                    font-display: swap;
                }
                .resend-code{
                    font-size: 12px;
                    position: relative;
                    left: 15vw;
                    cursor: pointer;
                    }
            }

            .forgot-pwd-link {
                font-size: 12px;

                a {
                    color : var(--ion-color-secondary);
                    cursor: pointer;

                    &:hover {
                        color: var(--ion-color-primary);
                    }
                }
            }

            .signup-link p {
                margin-left: 5px;

                ion-text {
                    cursor: pointer;

                    &:hover {
                        color: var(--ion-color-primary);
                    }
                }
            }

        }
    }

    .pwd-strength {
        position     : absolute;
        z-index      : 999;
        border-radius: 20px;
    }

   
}
 .resend-code-link{
    font-size: 12px;
    position: relative; 
    left: 15vw;
    cursor: pointer;
    color : var(--ion-color-secondary);
    
    &:hover{
    color: var(--ion-color-primary);
}
 }

.loign-link {
    font-size: 12px;

    a {
        color : var(--ion-color-secondary);
        cursor: pointer;
        position:absolute;


        &:hover {
            color: var(--ion-color-primary);
        }
    }
    
   
}
input{
    border:0 none; 
    background:#ffffff;
}
input:focus{
    background:#f1f1f1;
}