
::ng-deep {
    .rent-modal {
        --max-height: 70vh;
        --max-width: 60vw;
        --min-width : 335px;
    }    
}

.rent-content-main {


    ion-item {}

    ion-item,
    ion-list-header,
    .rent-cards-list {}
}

::ng-deep .rent-footer-main {

    .movie-banner-img {
        img {
            height: 32px;
        }
    }
}

