<ion-content class="rent-content-main" >
    <ion-list class="rent-cards-list">
        <ion-list-header (keydown)="keypressOnCheckoutHeader($event)">
            <ion-label color="dark">
                <h4>Your card details:</h4>
            </ion-label>
            <ion-item lines="none" *ngIf="!isPromoCodeValid">
                <ion-checkbox (keydown)="keypressOnPromoCode($event)" id="havePromoCheckBox" (ionChange)="promoCodeOptChanged()" tabindex="0" 
                class="me-1 arrow-navigable" color="primary" 
                [(ngModel)]="isPromoCode"></ion-checkbox>
                <ion-label>Have Promo Code?</ion-label>
            </ion-item>
        </ion-list-header>
        <ion-radio-group 
          [value]="selectedCard" (ionChange)="onCardSelection($event)" *ngIf="contentPrice !== 0">
            <ion-item (keydown)="keypressOnCardGrop($event, i)" lines="none" *ngFor="let card of cardData; let i=index;">
                <ion-radio tabindex="0" class="arrow-navigable" id="card_radio_{{i}}"
                color="dark" slot="start" [value]="card" [disabled]="isLoading"></ion-radio>
                <ion-label color="dark">**** **** ****
                    {{card.cardNo}}
                </ion-label>
                <ion-icon name="card-outline" slot="end"></ion-icon>
            </ion-item>            
        </ion-radio-group>
        <ion-item (keydown)="keypressOnAddCardBtn($event)" *ngIf="contentPrice !== 0" lines="none" class="add-card-design">
            <ion-button id="btnAddNewCard" tabindex="0" class="m-auto arrow-navigable" fill="clear" color="dark" size="small" (click)="onAddNewCard()"
                [disabled]="isLoading">
                <ion-icon name="add-circle"></ion-icon> Add New Card
            </ion-button>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer class="ion-no-border rent-footer-main" >
    <ion-row class="m-2">
        <ion-col size=12 class="ion-text-end" *ngIf="isPromoCode">
            <ion-row class="p-1">
                <ion-col size=12 class="d-flex">
                    <div class="ms-auto">
                        <ion-item lines="inset" class="ms-auto" (keydown)="keypressOnPromoInput($event)">
                            <ion-label position="stacked">Promo Code: </ion-label>
                            <ion-input #inputPromoCode placeholder="CODE" [formControl]="promoCode"></ion-input>
                        </ion-item>
                    </div>
                    <ion-button id="btnApplyPromo" tabindex="0" class="arrow-navigable" expand="block" 
                    (keydown)="keypressOnPromoApplyBtn($event)"
                    (click)="applyCoupon()" *ngIf="contentPrice !== 0">
                        Apply
                    </ion-button>
                    <ion-button (keydown)="keypreesOnremoveBtn($event)"  id="removebtn" tabindex="0" class="arrow-navigable" expand="block" (click)="clearCoupon()" *ngIf="contentPrice === 0">
                        Remove
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col size=12>
            <ion-item lines="none">
                <img class="movie-banner-img" [attr.data-src]="contentData.moviebannerurl" height="32" loading="lazy" />
                <ion-label class="ion-text-end" color="dark">
                    <h3>{{contentData.moviename}} (
                        {{contentData.movieyear}})
                    </h3>
                    <h3>Total:
                        {{contentPrice | currency:currency}}
                    </h3>
                </ion-label>
            </ion-item>
        </ion-col>
        <ion-col (keydown)="keyPressOnCheckoutFooter_1($event)">
            <ion-button  tabindex="0" class="arrow-navigable" fill="solid" expand="block" fill="outline" color="dark" (click)="dismiss(false)"
                [disabled]="isLoading">
                Cancel
            </ion-button>
        </ion-col>
        <ion-col (keydown)="keyPressOnCheckoutFooter_2($event)">
            <ion-button id="btnCheckout" tabindex="0" class="arrow-navigable" fill="solid" expand="block" fill="solid" color="dark" (click)="onGetRental()"
                [disabled]="isLoading || (!selectedCard && contentPrice !== 0)">
                Checkout <ion-spinner name="bubbles" *ngIf="isLoading"></ion-spinner>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>