@font-face {
    font-family: 'Lato';
    src        : url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-light';
    src        : url('../fonts/Lato/Lato-Light.ttf');
}

@font-face {
    font-family: 'Nunito';
    src        : url('../fonts/Nunito/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-light';
    src        : url('../fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat-regular';
    src        : url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-medium';
    src        : url('../fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat-bold';
    src        : url('../fonts/Montserrat/Montserrat-Bold.ttf');
}

p,
a,
button,
input,
ion-lable {
    font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat-medium', sans-serif;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}