<ion-header>
    <ion-toolbar>
        <ion-title>{{model_title}}</ion-title>
        <ion-button (keydown)="keypressOnbtn($event)" tabindex="-1" id="backbtn_{{uniquePageId}}" fill="clear" class="back-btn" slot="start" (click)="dismiss()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>          
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-row>
      <ion-spinner *ngIf="!api_call_completed" name="dots"></ion-spinner>
      <ion-text class="text" *ngIf="searchResult_empty">No movies found.</ion-text>      
      <ion-col class="view-category-card" size="12" size-xs="6" size-sm="4" size-md="3" size-lg="2" size-xl="2" size-xxl="2" 
      *ngFor="let result of searchResult;let i=index;" (keydown)="keypressOnGenre($event, i, uniquePageId)">
      <app-poster-card [movieId]="uniquePageId" [sectionName]="'filter_genre'" [carouselIndex]="i" [cardData]="result"></app-poster-card>
      </ion-col>
    </ion-row>    
</ion-content>