.poster-card-main {
    .pc-img {
        // min-height         : 175px;
        // background-image   : url('/assets/images/movie-posters-placeholder.jpg');
        // background-repeat  : no-repeat;
        // background-size    : cover;
        // background-position: center;
        margin             : 1px auto;
        border-radius      : 15px;
    }

    .rented-ribbon {
        width   : 85px;
        height  : 88px;
        overflow: hidden;
        position: absolute;
        top     : -3px;
        left    : -3px;
        z-index : 1;

        span {
            font              : bold 15px Sans-Serif;
            text-align        : center;
            -webkit-transform : rotate(-45deg);
            -moz-transform    : rotate(45deg);
            -ms-transform     : rotate(45deg);
            -o-transform      : rotate(45deg);
            position          : relative;
            padding           : 7px 0;
            right             : -5px;
            top               : 15px;
            width             : 120px;
            float             : right;
            background-color  : var(--ion-color-warning);
            color             : var(--ion-color-warning-contrast);
            background-image  : -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
            background-image  : -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
            background-image  : -moz-linear-gradient(top, #BFDC7A, #8EBF45);
            background-image  : -ms-linear-gradient(top, #BFDC7A, #8EBF45);
            background-image  : -o-linear-gradient(top, #BFDC7A, #8EBF45);
            -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
            -moz-box-shadow   : 0px 0px 3px rgba(0, 0, 0, 0.3);
            box-shadow        : 0px 0px 3px rgba(0, 0, 0, 0.3);

            &:before,
            &:after {
                content     : "";
                border-top  : 3px solid #6e8900;
                border-left : 3px solid transparent;
                border-right: 3px solid transparent;
                position    : absolute;
                bottom      : -3px;
            }

            &:before {
                left: 0;
            }

            &:after {
                right: 0;
            }
        }

    }
}