.pwd-strength-info {
    border-radius: 20px;

    ion-item {
        --min-height: 0px;

        ion-icon {
            &[name="checkmark-circle"] {
                color: var(--ion-color-success);
            }

            &[name="close-circle"] {
                color: var(--ion-color-danger);
            }
        }
    }
}