<ion-list class="pwd-strength-info">
  <ion-list-header>
    Password should have
  </ion-list-header>
  <ion-item lines="none">
    <ion-icon [name]="hasMinCharacter?'checkmark-circle':'close-circle'"></ion-icon>
    <ion-label class="ion-text-wrap ps-1" [color]="hasMinCharacter?'dark':'danger'">
      <h5>minimum 8 Character.</h5>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-icon [name]="hasLower?'checkmark-circle':'close-circle'"></ion-icon>
    <ion-label class="ion-text-wrap ps-1" [color]="hasLower?'dark':'danger'">
      <h5> atleast a lower case.</h5>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-icon [name]="hasUpper?'checkmark-circle':'close-circle'"></ion-icon>
    <ion-label class="ion-text-wrap ps-1" [color]="hasUpper?'dark':'danger'">
      <h5>atleast a upper case.</h5>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-icon [name]="hasNumber?'checkmark-circle':'close-circle'"></ion-icon>
    <ion-label class="ion-text-wrap ps-1" [color]="hasNumber?'dark':'danger'">
      <h5>atleast a numbers. [0 - 9]</h5>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-icon [name]="hasSpecialCharacter?'checkmark-circle':'close-circle'"></ion-icon>
    <ion-label class="ion-text-wrap ps-1" [color]="hasSpecialCharacter?'dark':'danger'">
      <h5>atleast a special character. [!, #, $, %, ^, & ,*, @, ?, /, -, .]</h5>
    </ion-label>
  </ion-item>
</ion-list>
