.casts-img {    
    height: 40vh !important;
    width: fit-content !important;    
    border-radius: 10px !important;
    margin: 15px;
    overflow: hidden;
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;        
}
::ng-deep{
   
    .movie-details-modal {
      --min-width : 100%;
      --min-height : 100%;
  }
}

.vertical-center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card-design{
  --box-shadow        : 0px 0px 5px rgba(117, 117, 117, 0.548);
  -webkit-box-shadow: 0px 0px 5px rgba(117, 117, 117, 0.548);
  -moz-box-shadow   : 0px 0px 5px rgba(117, 117, 117, 0.548);
  box-shadow        : 0px 0px 5px rgba(117, 117, 117, 0.548);
  border-radius: 15px;
}

::ng-deep{
   
    .movie-details-modal {
      --min-width : 100%;
      --min-height : 100%;
  }
}
.actor-page{
  cursor: pointer;
}

