.signup-page {
    .pwd-strength {
        position     : absolute;
        z-index      : 999;
        border-radius: 20px;
    }

    p.terms {
        color    : #838383;
        font-size: 10px;
    }
}