#alert_btn_ok:focus{outline: 1px #666 dotted;}
.signup-page {
    .pwd-strength {
        position     : absolute;
        z-index      : 999;
        border-radius: 20px;
    }

    p.terms {
        color    : #838383;
        font-size: 10px;
    }
}
input{
    border:0 none; 
    background:#ffffff;
}
input:focus{
    background:#f1f1f1;
}