<ion-toolbar class="footer-main">
  <ion-text slot="start">
    <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved
    </p>
  </ion-text>

  <ion-buttons class="social-icons" slot="end">
    <ion-button>
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="logo-twitter"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="logo-linkedin"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<section>
  <div id="container">
    <!-- flex container -->

    <div class="box" id="bluebox">
      <!-- flex item -->
      <p>Home</p>
    </div>

    <div class="box" id="redbox">
      <!-- flex item -->
      <p>Categories</p>
    </div>
    <div class="box" id="redbox">
      <!-- flex item -->
      <p>Latest Movies</p>
    </div>
    <div class="box" id="redbox">
      <!-- flex item -->
      <p>Favorite Movies</p>
    </div>
    <div class="box" id="redbox">
      <!-- flex item -->
      <p>Trending Movies</p>
    </div>
  </div>
  <div id="container">
    <!-- flex container -->

    <div class="box-sitemap" id="bluebox">
      <!-- flex item -->
      <p>Sitemap &nbsp;/ </p>
    </div>

    <div class="box-sitemap" id="redbox" routerLink="/error/504">
      <!-- flex item -->
      <p>Privacy Policy &nbsp;/ </p>
    </div>
    <div class="box-sitemap" id="redbox" (click)="navigate()">
      <!-- flex item -->
      <p>Terms of use</p>
    </div>
  </div>
  <div id="container">
    <div class="box-sitemap" style="color: #ffffff63;">
      VRNA Copyright © 2019. This site is maintained by Corporation of Tourism & Commerce Marketing.<br />
      Site last updated [25/05/2019]
    </div>
  </div>
  <div id="container">
    <div class="box-sitemap" style="color: #ffffff63;font-size: 30px;">
      <ion-icon name="logo-facebook"></ion-icon>
    </div>
    <div class="box-sitemap" style="color: #ffffff63;font-size: 30px;">
      <ion-icon name="logo-twitter"></ion-icon>
    </div>
    <div class="box-sitemap" style="color: #ffffff63;font-size: 30px;">
      <ion-icon name="logo-linkedin"></ion-icon>
    </div>
  </div>
</section>